@model MvcOnlineTicariOtomasyon.Models.Siniflar.Cariler
@{
    ViewBag.Title = "Panel";
    Layout = "~/Views/Shared/_CariLayout.cshtml";
}
<br />

<h2>Cari Bilgi Paneli</h2>

@using (Html.BeginForm("Index2", "CariPanel", FormMethod.Post))
{
    <table class="table table-hover">
        <tr>
            <td><label>Mail Adresi : @HttpContext.Current.User.Identity.Name</label></td>
        </tr>
        <tr>
            <td><label>Cari Ad :</label>@Html.TextBoxFor(x => x.CariAd, new { @class = "form-control" })</td>
        </tr>
        <tr>
            <td><label>Cari Soyad :</label>@Html.TextBoxFor(x => x.CariSoyad, new { @class = "form-control" })</td>
        </tr>
        <tr>
            <td><label>Cari Şehir :</label>@Html.TextBoxFor(x => x.CariSehir, new { @class = "form-control" })</td>
        </tr>
        <tr>
            <td><label>Cari Şifre :</label>@Html.TextBoxFor(x => x.CariSifre, new { @class = "form-control" })</td>
        </tr>
    </table>
    <button class="btn btn-warning">Bilgilerimi Güncelle</button>
}