@model MvcOnlineTicariOtomasyon.Models.Siniflar.FaturKalem
@{
    ViewBag.Title = "YeniKalem";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h2>Yeni Kalem Girişi</h2>
<br />

<form class="form-group" method="post">
    <span class="font-weight-bold">Açıklama</span>
    @Html.TextBoxFor(x => x.Aciklama, new { @class = "form-control", style = "margin-top:10px;" })
    <br />
    <span class="font-weight-bold">Miktar</span>
    @Html.TextBoxFor(x => x.Miktar, new { @class = "form-control", style = "margin-top:10px;" })
    <br />
    <span class="font-weight-bold">Birim Fiyat</span>
    @Html.TextBoxFor(x => x.BirimFiyat, new { @class = "form-control", style = "margin-top:10px;" })
    <br />
    <span class="font-weight-bold">Tutar</span>
    @Html.TextBoxFor(x => x.Tutar, new { @class = "form-control", style = "margin-top:10px;" })
    <br />
    <span class="font-weight-bold">Fatura ID</span>
    @Html.TextBoxFor(x => x.Faturaid, new { @class = "form-control", style = "margin-top:10px;" })
    <br />

    <button class="btn btn-primary" style="margin-top:20px;">Kaydet</button>
</form>
