@model MvcOnlineTicariOtomasyon.Models.Siniflar.SatisHareket
@{
    ViewBag.Title = "SatisGetir";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h2>Satış İşlemi Günelleme Sayfası</h2>
<br />
@using (Html.BeginForm("SatisGuncelle", "Satis", FormMethod.Post))
{
    <span class="font-weight-bold">Ürün Adı</span>
    @Html.DropDownListFor(x => x.Urunid, (List<SelectListItem>)ViewBag.dgr1, new { @class = "form-control", style = "margin-top:10px;" })
    <br />
    <span class="font-weight-bold">Cari</span>
    @Html.DropDownListFor(x => x.Cariid, (List<SelectListItem>)ViewBag.dgr2, new { @class = "form-control", style = "margin-top:10px;" })
    <br />
    <span class="font-weight-bold">Personel</span>
    @Html.DropDownListFor(x => x.Personelid, (List<SelectListItem>)ViewBag.dgr3, new { @class = "form-control", style = "margin-top:10px;" })
    <br />
    @Html.HiddenFor(x => x.SatisID)
    <span class="font-weight-bold">Adet</span>
    @Html.TextBoxFor(x => x.Adet, new { @class = "form-control", style = "margin-top:10px;" })
    <br />
    <span class="font-weight-bold">Fiyat</span>
    @Html.TextBoxFor(x => x.Fiyat, new { @class = "form-control", style = "margin-top:10px;" })
    <br />
    <span class="font-weight-bold">Toplam Tutar</span>
    @Html.TextBoxFor(x => x.ToplamTutar, new { @class = "form-control", style = "margin-top:10px;" })
    <br />
    <span class="font-weight-bold">Tarih</span>
    @Html.TextBoxFor(x => x.Tarih, new { @class = "form-control", style = "margin-top:10px;" })
    <button class="btn btn-warning" style="margin-top:20px;">Güncelle</button>
}